@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');

/* Cyan  Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme='light'],
:root:not([data-theme='dark']) {
	--font-family: 'Ovo', serif;
	--secondary: #252b50;
	--secondary-hover: #222749;
	--secondary-focus: #13217c20;
	--secondary-inverse: #fff;

	--primary: #ffb833;
	--primary-hover: #ff821c;
	--primary-focus: #f9c63920;
	--primary-inverse: #ffffff;
}

:root {
	scroll-behavior: smooth;

	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}
}

h1,
h2,
h3,
h4,
p {
	cursor: text;
	color: var(--secondary);
}

a:hover {
	text-decoration: underline;
}

.empty {
	height: 11.7vh;
}

strong.primary {
	color: var(--primary);
}

strong.secondary {
	color: var(--secondary);
}
