@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');

/* Cyan  Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme='light'],
:root:not([data-theme='dark']) {
	--font-family: 'Ovo', serif;
	/* --font-family: 'Source Sans Pro', -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell',
		'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji'; */
	--secondary: #13217c;
	--secondary-hover: #13237c;
	--secondary-focus: #13217c20;
	--secondary-inverse: #fff;

	--primary: #f8b90d;
	--primary-hover: #f8b50d;
	--primary-focus: #f8b90d20;
	--primary-inverse: #c7c7c7;
}
