@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');

/* Cyan  Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme='light'],
:root:not([data-theme='dark']) {
	--font-family: 'Ovo', serif;
	--secondary: #252b50;
	--secondary-hover: #13347c;
	--secondary-focus: #13217c20;
	--secondary-inverse: #fff;

	--primary: #ffc933;
	--primary-hover: #f9a339;
	--primary-focus: #f9c63920;
	--primary-inverse: #ffffff;
}

:root {
	scroll-behavior: smooth;

	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}
}

h1, h2, h3, h4, p {
	cursor: text;
	color: var(--secondary);
}
